.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/misc.xml
/PhoneProfilesPlusExtender/build
/phoneProfilesPlusExtender/build
/pppPutSettings/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
/pppPutSettings/build/intermediates/javac/debug/classes/sk/henrichg/pppputsettings/BuildConfig.class
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/BuildConfig.dex
/pppPutSettings/build/intermediates/dex/debug/mergeProjectDexDebug/0/classes.dex
/pppPutSettings/build/intermediates/dex/debug/mergeProjectDexDebug/13/classes.dex
/pppPutSettings/build/intermediates/javac/debug/classes/sk/henrichg/pppputsettings/DebugVersion.class
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/DebugVersion.dex
/pppPutSettings/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/f459a33cd026da83089c04db51555a8ff352f5571c8dd36b6eac328bee8fefc9_0.jar
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/f459a33cd026da83089c04db51555a8ff352f5571c8dd36b6eac328bee8fefc9_1.jar
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/f459a33cd026da83089c04db51555a8ff352f5571c8dd36b6eac328bee8fefc9_2.jar
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/f459a33cd026da83089c04db51555a8ff352f5571c8dd36b6eac328bee8fefc9_3.jar
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/FromPhoneProfilesPlusBroadcastReceiver.dex
/pppPutSettings/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_0/graph.bin
/pppPutSettings/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_1/graph.bin
/pppPutSettings/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_2/graph.bin
/pppPutSettings/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_3/graph.bin
/pppPutSettings/build/intermediates/desugar_graph/debug/out/currentProject/jar_1acd6d6f9f81d8bb2a3a85d4ae7fcee9778b761c87c40b488c1e62b3719052a1_bucket_0/graph.bin
/pppPutSettings/build/intermediates/desugar_graph/debug/out/currentProject/jar_1acd6d6f9f81d8bb2a3a85d4ae7fcee9778b761c87c40b488c1e62b3719052a1_bucket_1/graph.bin
/pppPutSettings/build/intermediates/desugar_graph/debug/out/currentProject/jar_1acd6d6f9f81d8bb2a3a85d4ae7fcee9778b761c87c40b488c1e62b3719052a1_bucket_2/graph.bin
/pppPutSettings/build/intermediates/desugar_graph/debug/out/currentProject/jar_1acd6d6f9f81d8bb2a3a85d4ae7fcee9778b761c87c40b488c1e62b3719052a1_bucket_3/graph.bin
/pppPutSettings/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0
/pppPutSettings/build/intermediates/javac/debug/classes/sk/henrichg/pppputsettings/LogCrashActivity$RefreshListViewAsyncTask.class
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/LogCrashActivity$RefreshListViewAsyncTask.dex
/pppPutSettings/build/intermediates/javac/debug/classes/sk/henrichg/pppputsettings/LogCrashActivity.class
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/LogCrashActivity.dex
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/MainActivity$1.dex
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/MainActivity$2.dex
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/MainActivity$Language.dex
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/MainActivity.dex
/pppPutSettings/build/intermediates/dex_archive_input_jar_hashes/debug/out
/pppPutSettings/build/intermediates/dex_number_of_buckets_file/debug/out
/pppPutSettings/build/outputs/apk/debug/output-metadata.json
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/Permissions.dex
/pppPutSettings/build/intermediates/javac/debug/classes/sk/henrichg/pppputsettings/PPPPSApplication.class
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/PPPPSApplication.dex
/pppPutSettings/build/outputs/apk/debug/pppPutSettings-debug.apk
/pppPutSettings/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/pppPutSettings/build/intermediates/apk_ide_redirect_file/debug/redirect.txt
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/TopExceptionHandler.dex
/pppPutSettings/build/intermediates/packaged_manifests/debugAndroidTest/AndroidManifest.xml
/pppPutSettings/build/intermediates/annotation_processor_list/debugAndroidTest/annotationProcessors.json
/pppPutSettings/build/intermediates/annotation_processor_list/debugUnitTest/annotationProcessors.json
/pppPutSettings/build/intermediates/javac/debugAndroidTest/classes/sk/henrichg/pppputsettings/test/BuildConfig.class
/pppPutSettings/build/intermediates/compile_app_classes_jar/debug/classes.jar
/pppPutSettings/build/intermediates/incremental/debugAndroidTest/mergeDebugAndroidTestResources/compile-file-map.properties
/pppPutSettings/build/intermediates/source_set_path_map/debugAndroidTest/file-map.txt
/pppPutSettings/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
/pppPutSettings/build/intermediates/incremental/debugAndroidTest/mergeDebugAndroidTestResources/merger.xml
/pppPutSettings/build/intermediates/packaged_manifests/debugAndroidTest/output-metadata.json
/pppPutSettings/build/intermediates/processed_res/debugAndroidTest/out/output-metadata.json
/pppPutSettings/build/tmp/compileDebugAndroidTestJavaWithJavac/previous-compilation-data.bin
/pppPutSettings/build/intermediates/javac/debug/classes/sk/henrichg/pppputsettings/PutSettingsParameterActivity.class
/pppPutSettings/build/intermediates/project_dex_archive/debug/out/sk/henrichg/pppputsettings/PutSettingsParameterActivity.dex
/pppPutSettings/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debugAndroidTest/R.jar
/pppPutSettings/build/intermediates/runtime_symbol_list/debugAndroidTest/R.txt
/pppPutSettings/build/intermediates/processed_res/debugAndroidTest/out/resources-debugAndroidTest.ap_
