<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <permission
        android:name="sk.henrichg.pppputsettings.PPP_PUT_SETTINGS_PERMISSION"
        android:label="@string/pppputsettings_permission"
        android:protectionLevel="signature"/>

    <uses-permission android:name="sk.henrichg.pppputsettings.PPP_PUT_SETTINGS_PERMISSION"/>

    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>
<!--    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions"/>-->
<!--    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" tools:ignore="ProtectedPermissions"/>-->

<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->


    <application
        android:name=".PPPPSApplication"
        android:label="@string/pppputsettings_app_name"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->

        <!-- support for 18.5:9 display (Samsung Galaxy S8, LG G6) -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>

        <activity android:name=".MainActivity"
            android:label="@string/pppputsettings_app_name"
            tools:ignore="IntentFilterExportedReceiver,RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LogCrashActivity"
            android:label="">
        </activity>

        <activity
            android:name=".PutSettingsParameterActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:theme="@style/EmptyAppCompatActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="sk.henrichg.pppputsettings.PPP_PUT_SETTINGS_PERMISSION">
            <intent-filter>
                <action android:name="sk.henrichg.pppputsettings.LAUNCH_IT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".LocaleChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
